
@{

    ViewBag.Title = "Settings";
}




<div class="container white text-center">

    <h2>User Settings</h2>

    <div id="profileBackground" class="row">
        <img src="@ViewBag.ProfilePic" id="profilePic" class="profilePic" />
    </div>

    <form></form>

</div>