body {

}

#tournamentList {
    background-color: #323737;
    border: 1px solid #4b4e4e;
    height: 65px;
    width: 652px;
}

#tournamentList div {
    padding: 10px;
    float: left;
    width: 130px;
}

#tournamentList div span {
    float: left;
}

#tournamentList:hover {
    text-decoration: none !important;
    cursor: pointer;
    background-color: #3d4444;
}

#participants {
    text-align: center;
}

#participants > span {
    float: none !important;
}

.bold {
    font-weight: bold;
}