@{
    ViewBag.Title = "Modals";
}

<link href="~/Content/LogInForm.css" rel="stylesheet" />
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="loginmodal-container">
            <h1>Login to Your Account</h1><br>
            <form class="">
                <input id="loginInputUsername" type="text" name="user" required placeholder="Username">
                <input id="loginInputPassword" type="password" name="pass" required placeholder="Password">
                <button id="loginSubmitButton" type="button" class="login loginmodal-submit">LOG IN</button>
            </form>
            <div id="errorOutputLogin" class="text-danger">

            </div> 
            <div class="login-help">
                <a href="#" class="registerBtn">Register</a> - <a href="#">Forgot Password</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="register-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="loginmodal-container">
            <h1>Register an Account</h1><br>
            <div class="form-group">
                <input id="registerInputUsername" type="text" name="inputUsername" required placeholder="Username">
                <input id="registerInputEmail" type="email" name="inputEmail" required placeholder="Email">
                <input id="registerInputPassword" type="password" name="inputPassword" required placeholder="Password">
                <input id="registerInputPassword2" type="password" name="inputPassword2" required placeholder="Confirm Password">
                <button id="registerSubmitButton" class="login register-submit">SIGN UP</button>
            </div>
            <div id="errorOutputRegister" class="text-danger">
            </div> 
            <div class="login-help">
                <a href="#" class="logInBtn">Already have an account?</a>
            </div>
        </div>
    </div>
</div>

