
@{
    ViewBag.Title = "Register";
}

<div class="container">

        <h1>Login to Your Account</h1><br>
        <form action="~/User/Register" method="post">
            <input type="text" name="inputUsername" placeholder="Username">
            <input type="password" name="inputPassword" placeholder="Password">
            <input type="password" name="inputPassword2" placeholder="Repeat password">
            <span style="color:red;">@ViewBag.passwordNotMatch</span>
            <input type="text" name="inputEmail" placeholder="Email">
            <input type="submit" name="login" class="login loginmodal-submit" value="Login">
        </form>

        <div class="login-help">
            <a href="#">Register</a> - <a href="#">Forgot Password</a>
        </div>

</div>