body {
}

.IndividualBanOdd {
    background-color:#1e2222;
}

.IndividualBanEven {
    background-color:#444;
}

.IndividualBanEven:hover {
    background-color:#3d4444;
}

.IndividualBanOdd:hover {
    background-color:#3d4444;
}

.banItem:hover {
    cursor:pointer;
    background-color: rgba(255, 130, 46, 0.7) !important;
}

    