body {
}

.IndividualBanOdd {
    background-color:#1e2222;
}

.IndividualBanEven {
    background-color:#444;
}

.IndividualBanEven:hover {
    background-color:#3d4444 !important;
}

.IndividualBanOdd:hover {
    background-color:#3d4444 !important;
}

.banItem:hover {
    cursor:pointer;
}