body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #1e2222 !important;
    overflow-y: scroll !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    font-family: "Arial Unicode MS" !important;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select
textarea {
    /*max-width: 280px;*/
    /*color: black !important;*/
}

/*************RESPONSIVE media for NAVBAR***************/

@media (min-width: 768px) and (max-width: 1033px) {
    #searchBarNav { display: none; }
}

/*@media (min-width: 768px) and (max-width: 791px) {
    #logo { margin-right: 0px !important; }
}*/

@media (min-width: 768px) and (max-width: 806px) {
    .profile-img { display: none; }
}

/*******************NAVBAR*********************/

.loginmodal-container input {
    max-width: 280px;
}

.activeNav {
    background-color: #2a2d2d;
}

#logo {
    height: 50px;
    width: 200px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 15px;
}

#searchBarNav input {
    background: #1e2222 !important;
    color: white !important;
    border-color: #1e2222 !important;
    font-family: "Arial Unicode MS";
    width:250px;
}

.container-fluid {
    background: #141616 !important;
}

.navbar-inverse .navbar-nav>li>a {
    color: #ff822e !important;
    font-weight: bold;
    font-family: "Arial Unicode MS"
}

#profilDropDown>li>a:focus, #profilDropDown>li>a:hover {
    background-color: #2a2d2d;
}

.logInBtn {
    margin-right: 10px !important;
    color: white !important;
}

#regBtnNav {
     margin-right: 10px !important;
}

li > .logInBtn, .logOutBtn {
     background: #f50 !important;
     border-color: #f50 !important;
}

#profilDropDown {
    background-color: #131313;
}

#profilDropDown a {
    color: #fff;
}

.profile-img 
{
    width: 30px;
    height: 30px;
    position: relative;
    top: -5px;
    float: left;
    left: -5px;
}

.nav-item:hover {
    background-color: #323535;
}

/******************SCROLLBAR********************/

::-webkit-scrollbar {
    width: 1em;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #141616;
}
 
::-webkit-scrollbar-thumb {
    background-color: #323535;
    outline: 1px solid slategrey;
    -webkit-border-radius: 10px;
}


/***************OTHER*******************/

.white {
    color: white !important;
}

.homeReports {
    width: 400px !important;
}

/************100% width på alla sidor***************/
/*.container {
  margin: 0 auto !important;
  width: 100% !important;
}*/

/**********************SEARCHBOX**********************/

#searchResultBox {
    width:250px;
    height:300px;
    background-color:#141616;
    border:1px solid #323737;
    border-radius: 3px;
    position:absolute;
    margin-left:15px;
    display:none;
    color:white;
}

.searchAllResultsSpan {
    margin:auto;
    background-color:#323737;
    width:230px;
    height:30px;
    display:block;
    margin: 10px;
    padding-left:25%;
    padding-top:5px;
}

.searchAllResultsSpan:hover {
    background-color:#3d4444;
    cursor:pointer;
}

.searchAllResultsSpan a {
    text-decoration:none !important;
    color:white !important;
}

#searchResultBox hr {
    border-color:#4b4e4e;
    margin: 10px 10px 15px 10px;
}

.searchUserItem {
    width:100%;
    margin-bottom:5px;
    background-color:#323737;
}

.searchUserItem:hover {
    background-color:#3d4444;
    cursor:pointer;
}

.searchUserItem:active {
    border:1px solid orange;
}

#searchResultBox div {
    display:inline-block;
    float:left;
    width:100%;
}

#searchResultBox div img {
    /*width:30px !important;
    height:20px !important;*/
    display:inline !important;
}

.searchUserProfilePic {
    width:30px !important;
    height:30px !important;
}

.searchUserCountryPic {
    width:30px !important;
    height:15px !important;
    margin-left:5px;
}

.searchUserRankPic {
    width:20px !important;
    height:20px !important;
}

.searchUserRankSpan {
    float:right !important;
    margin-right:10px !important;
    margin-top:5px;
}

.searchUserUsernameSpan {
    margin-left:5px;
    font-weight:bold;
    color:white;
}

#noUser {
    margin-left: 30px;
}